<% @photos.each_with_index do |photo, index| %>
  <% if index < 5 %>
    <%= render partial: 'gallery_pic', locals: {photo: photo, class_name: "gallery-pic-visible"} %>
  <% elsif index == 5 %>
    <li><%= link_to "Ещё #{@photos.count - 5} изображений", @photos.first.link %></li>
    <%= render partial: 'gallery_pic', locals: {photo: photo, class_name: "gallery-pic-invisible"} %>
  <% elsif index > 5 %>
    <%= render partial: 'gallery_pic', locals: {photo: photo, class_name: "gallery-pic-invisible"} %>
  <% end %>
<% end %>
