<h2 class="list-heading">Старые и новые кладбища Петербурга</h2>
<ul id="cemetery-list">
  <% Cemetery.all.each do |cemetery| %>
    <li class="list-entry">
      <%= image_tag cemetery.main_thumb_pic_link, class: "list-entry-pic" %>
      <%= link_to cemetery.name, cemetery_path(cemetery.id), class: 'list-entry-name',
        data: {
          turbo_frame: 'entry',
          controller: 'cemetery',
          turbo_action: 'advance',
          action: 'click->map#toEntryByEvent',
          'cemetery-id-value': cemetery.id,
          'cemetery-coordinates-value': cemetery.coordinates,
          'cemetery-coordinates-geo-json-value': cemetery.coordinates_geo_json,

         } %>
    </li>
    <br>
  <% end %>
</ul>
