<%= turbo_frame_tag 'entry', data: {'cemetery-id-value': @cemetery.id} do %>
  <% unless @cemetery.nil? %>
    <h2><%= @cemetery.name %></h2>
    <p><%= @cemetery.description %></p>
  <% else %>
    <div>Hello from empty show partial</div>
  <% end %>
<% end %>
