/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


/*
*= require_self
*= require_tree .
*= require "leaflet"
*= require "leaflet-sidebar.css"
*/

/* import icons */

/* import font */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

/* list */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
/* church-cross */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
/* question */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

/* general */

:root {
  /* --entry-max-width: 50ch; */
  --entry-h2-font: 1.75rem;
  --entry-h2-font-weight: 700;
  --entry-h3-font: calc(var(--entry-h2-font) * 0.75);
  --entry-p-font: 1rem;
}

body {
  min-height: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /* filter: grayscale(80%); */
}

/* sidebar tabs */

.leaflet-sidebar-tabs > ul > li > a {
  display: flex !important;
  justify-content: center;
  align-items: center;
}


.leaflet-sidebar-header {
  font-weight: 700;
}