/* layout */

#entry {
  display: grid;
  gap: 1ch;
  grid-template-areas: 
    "h2"
    "gallery-container"
    "description-container";
}

#entry > .entry-gallery-container {
  grid-area: gallery-container;
  display: grid;
  gap: 1ch;
}

#entry > .entry-description-container {
  grid-area: description-container;
  margin-top: 1ch;
}

/* typography */

#entry h2 {
  font-size: var(--entry-h2-font);
  font-weight: var(--entry-h2-font-weight);
}

#entry h3 {
  font-size: var(--entry-h3-font);
  font-weight: var(--entry-h2-font-weight);
}

#entry .entry-description-text-container > p {
  font-size: var(--entry-p-font);
}

/* photo gallery */

.photo-gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(75px, 30%));
  gap: 10px;
}

.photo-gallery > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-gallery > li > a > img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}